*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: rgb(236, 236, 236);
    justify-content: center;
}
.grid-container{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px 150px 150px;
    grid-template-areas: 
    "box1 box1 box2 box3"
    "box4 box5 box5 box3 ";
    gap:20px;
justify-content: center;
margin-top:100px;
}

.para{
    color:rgb(214, 209, 209);
    font-size: 15px;
    margin:20px;
}
.pro{
    display: flex;
}
.pro div{
    padding-top: 20px;
    color:white;
}
.pro p{
    font-size: 12px;
    color:rgb(218, 212, 212);
}

 .head{
    color:white;
    margin-left: 20px;
}
 img{
width:30px;
border-radius: 360px;
margin:20px;
box-shadow:2px 2px 2pxblueviolet;
}
.gri1{
    background-color: rgb(113, 73, 179);
    border-radius: 5px;
    box-shadow:2px 1px 20px grey;
}
.gri2{
    background-color: rgb(102, 109, 128);
    border-radius: 5px;
    box-shadow:2px 1px 20px grey;

}
.gri3{
    background-color: white;
    border-radius: 5px;
    box-shadow:2px 30px 30px rgb(99, 97, 97);

}
.gri4{
    background-color: white;
    border-radius: 5px;
        box-shadow:2px 30px 30px rgb(139, 137, 137);

}
.gri5{
    background-color: rgb(1, 5, 34);
    border-radius: 5px;
    box-shadow:1px 20px 43px rgb(139, 137, 137);


}